extends layout

block content
  - buildLog=repository.logs
  .container
    h2
      | #{repository.name} &nbsp;
      a(href='https://github.com/#{repository.name}' target="_blank")
        span.glyphicon.glyphicon-link
      | &nbsp;
      img(src='/#{repository.name}.svg' data-toggle="modal" data-target="#statustag-modal" style='cursor: pointer')
    ul.nav.nav-tabs(style="margin-bottom: 10px")
      li.active
        a(href="#") Latest Log
      li
        a(href="/#{repository.name}/logs") Log History
    .bs-callout.bs-callout-info
      .row
        .col-md-6
          h4
            span(style="font-weight: 700") #{buildLog.metadata.ref.split('/')[2]}&nbsp;
            | - #{buildLog.metadata.headCommit.message}
          ul(style="list-style:none")
            li
              | Commit:
              a(href="#{buildLog.metadata.headCommit.url}" target="_blank") #{buildLog.metadata.headCommit.id.substr(0, 12)}
            li
              | Compare:
              a(href="#{buildLog.metadata.compareCommits}" target="_blank") #{buildLog.metadata.compareCommits.split('/')[6]}
        .col-md-6
          h4 Build: ##{buildLog.buildNumber}
    .panel-group#accordion
      .panel.panel-default
        .panel-heading
          h4.panel-title
            a(data-toggle='collapse', data-parent='#accordion', href='#collapse1')
              | Generate Logs
              span(style="float:right") about #{moment(buildLog.generate.datetime).fromNow()}
        .panel-collapse.collapse.in#collapse1
          .panel-body
            if buildLog.generate.data
              pre #{buildLog.generate.data}
            else
              p
              | Failed to retrieve Documentation Generation Logs. It is possible that the process is currently being run.
              | If that is the case, kindly refresh or come back later.
      .panel.panel-default
        .panel-heading
          h4.panel-title
            a(data-toggle='collapse', data-parent='#accordion', href='#collapse2')
              | Github Pages Deployment Logs
              span(style="float:right") about #{moment(buildLog.ghpages.datetime).fromNow()}
        .panel-collapse.collapse#collapse2
          .panel-body
            if buildLog.ghpages.data
              pre #{buildLog.ghpages.data}
            else
              p
              | Failed to retrieve Github Pages Deployment Logs. It is possible that the process is currently being run.
              | If that is the case, kindly refresh or come back later.
  .modal.fade#statustag-modal(role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title Status Image
        .modal-body
          p Add the following in your README file to see latest deployment status in your repository.
          pre [![Yaydoc Status](https://#{hostname}/#{repository.name}.svg)](https://#{hostname}/#{repository.name})
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
