extends layout

block content
  .container
    h2
      | #{repository.name} &nbsp;
      a(href='https://github.com/#{repository.name}' target="_blank")
        span.glyphicon.glyphicon-link
      | &nbsp;
      img(src='/#{repository.name}.svg' data-toggle="modal" data-target="#statustag-modal" style='cursor: pointer')
    ul.nav.nav-tabs(style="margin-bottom: 10px")
      li
        a(href="/#{repository.name}") Latest Log
      li.active
        a(href="/#{repository.name}/logs") Log History
    for buildLog in buildLogs
      - buildLog = buildLog.logs
      - status = buildLog.metadata.status ? 'Success' : 'Failed'
      .bs-callout.bs-callout-info
        .row
          .col-md-6
            h4
              span(style="font-weight: 700") #{buildLog.metadata.ref.split('/')[2]}&nbsp;
              | - #{buildLog.metadata.headCommit.message.split("\\")[0]}
            ul(style="list-style:none")
              li
                | Commit:
                a(href="#{buildLog.metadata.headCommit.url}" target="_blank") #{buildLog.metadata.headCommit.id.substr(0, 12)}
              li
                | Compare:
                a(href="#{buildLog.metadata.compareCommits}" target="_blank") #{buildLog.metadata.compareCommits.split('/')[6]}
          .col-md-6
            h4
              a(href="/#{repository.name}/logs/#{buildLog.buildNumber}")
                strong Build:
                | ##{buildLog.buildNumber}
            ul(style="list-style:none")
              li Status: #{status}
              li
                strong #{buildLog.metadata.headCommit.author.name}
                | &nbsp;authored and&nbsp;
                strong #{buildLog.metadata.headCommit.committer.name}
                | &nbsp;committed
  .modal.fade#statustag-modal(role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title Status Image
        .modal-body
          p Add the following in your README file to see latest deployment status in your repository.
          pre [![Yaydoc Status](https://#{hostname}/#{repository.name}.svg)](https://#{hostname}/#{repository.name})
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
