extends layout

block content
  script.
    var repository = #{repository}
  script(src="/scripts/styles.js")
  script(src="/scripts/repository/settings.js")
  script(src="/scripts/search.js")
  script(src="/scripts/notification.js")
  script(src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js")
  .container
    h2
      | #{repository.name} &nbsp;
      a(href='https://github.com/#{repository.name}' target="_blank")
        span.glyphicon.glyphicon-link
      | &nbsp;
      img(src='/#{repository.name}.svg' data-toggle="modal" data-target="#statustag-modal" style='cursor: pointer')
    ul.nav.nav-tabs(style="margin-bottom: 10px")
      li
        a(href="/#{repository.name}") Latest Log
      li
        a(href="/#{repository.name}/logs") Log History
      li.active
        a(href="/#{repository.name}/settings") Settings
    h4 Mail Service
    .row
      .col-md-6
        label.checkbox-inline#mail-service-label
          if repository.mailService.status
            input#mail-service(checked data-toggle="toggle" type="checkbox" data-size="small" data-repository="#{repository.name}")
          else
            input#mail-service(data-toggle="toggle" type="checkbox" data-size="small" data-repository="#{repository.name}")
          strong Report build status via email&nbsp;
          i.fa.fa-circle-o-notch.fa-spin.fa-fw#mail-service-load(style="display:none")
          i.fa.fa-check#mail-service-check(style="display:none")
          i.fa.fa-times#mail-service-cross(style="display:none")
      .col-md-6
        form(method="POST"  action="/repository/mail").form-inline
          .form-group
            label(for="email") Registered Email:&nbsp;
            input(type="hidden", name="repository", value="#{repository.name}")
            input.form-control#email(type="email" name="email" value="#{repository.mailService.email}")
          button.btn.btn-default(type="submit") Save
    hr
    h4 Pull Request Status
    .row
      .col-md-6
        label.checkbox-inline
          if repository.PRStatus
            input#pr-status(checked data-toggle="toggle" type="checkbox" data-size="small" data-repository="#{repository.name}")
          else
            input#pr-status(data-toggle="toggle" type="checkbox" data-size="small" data-repository="#{repository.name}")
          strong Get build status for pull requests to a repository&nbsp;
          i.fa.fa-circle-o-notch.fa-spin.fa-fw#pr-status-load(style="display:none")
          i.fa.fa-check#pr-status-check(style="display:none")
          i.fa.fa-times#pr-status-cross(style="display:none")
    hr
    h4
      | Registered Sub-Projects
      button.btn.btn-default(data-toggle="modal" href="#addSub" style="float: right") Add Sub-Project
    if repository.subRepositories.length !== 0
      table.table.repolist
        each subRepository in repository.subRepositories
          tr
            td #{subRepository.name}
            td(style="width:0")
              button.close.open-delete-modal(data-toggle="modal" data-master="#{repository.name}" data-name="#{subRepository.name}" href="#deleteModal" data-backdrop="static" data-keyboard="false" style="color:red; font-size:30px") &times;
    hr
    h4 Danger Zone
    .row
      .col-md-6
        label.checkbox-inline
          if repository.enable
            input#repository-status(checked data-toggle="toggle" type="checkbox" data-size="small" data-repository="#{repository.name}")
          else
            input#repository-status(data-toggle="toggle" type="checkbox" data-size="small" data-repository="#{repository.name}")
          strong Yaydoc reacts to commits made to this repository&nbsp;
          i.fa.fa-circle-o-notch.fa-spin.fa-fw#repository-status-load(style="display:none")
          i.fa.fa-check#repository-status-check(style="display:none")
          i.fa.fa-cross#repository-status-cross(style="display:none")
      .col-md-6
        .form-group
          label.control-label Delete Repository:&nbsp;
          button.btn.btn-danger.open-delete-modal(data-toggle="modal" data-name="#{repository.name}" href="#deleteModal" data-backdrop="static" data-keyboard="false") Delete
  .modal.fade#deleteModal(role='dialog')
    .modal-dialog
      .modal-content
        form(action="/repository/sub/delete" method="post")
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Are you sure you want to delete?
          .modal-body
            p
              | Enter your repository's name (
              code#name-code
              | ) below to confirm you want to permanently remove it as a sub-project of
              strong &nbsp;#{repository.name}
              |:
            .form-group
              input(type="hidden" name="repository" value="#{repository.name}")
              input.form-control#repository-name(name="subRepository" autofocus)
          .modal-footer
            button.btn.btn-default#btnDelete(disabled="disabled") Delete
  .modal.fade#addSub(role='dialog')
    .modal-dialog
      .modal-content
        form#ci_sub_register(action="/repository/sub/add", method="POST")
          input(type="hidden" name="mainRepository" value="#{repository.name}")
          .modal-header
            button.close(type='button', data-dismiss='modal') ×
            h4.modal-title Add a subproject
          .modal-body
            .form-group
              label.control-label(for='orgs') Username/Organization:
              select.form-control#orgs(name="organization")
                option(value="#{user.id}:#{user.username}") #{user.username}
                if organizations
                  each organization in organizations
                    option(value="#{organization.id}:#{organization.name}") #{organization.name}
            .form-group
              label.control-label(for='search_bar') Search Repository:
              .input-group
                input.form-control#search_bar(placeholder="Enter project name")
                span.input-group-btn
                  button.btn.btn-default#search(type="button") Search
             .form-group#search_result
          .modal-footer
             button.btn.btn-default#btnRegister(disabled) Register
   
