svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="#{width}" height="20")
  linearGradient(id="b" x2="0" y2="100%")
    stop(offset="0" stop-color="#bbb" stop-opacity=".1")
    stop(offset="1" stop-opacity=".1")
  clipPath(id="a")
    rect(width="#{width}" height="20" rx="3" fill="#fff")
  g(clip-path="url(#a)")
    path(fill="#555" d="M0 0h49v20H0z")
    path(fill="#{color}" d="M49 0h53v20H49z")
    path(fill="url(#b)" d="M0 0h#{width}v20H0z")
  g(fill="#fff" text-anchor="middle" font-family="DejaVu Sans,Verdana,Geneva,sans-serif" font-size="11")
    text(x="24.5" y="15" fill="#010101" fill-opacity=".3") yaydoc
    text(x="24.5" y="14") yaydoc
    text(x="#{x}" y="15" fill="#010101" fill-opacity=".3") #{status}
    text(x="#{x}" y="14") #{status}
