extends layout

block content
  script(src="/scripts/socket-dashboard.js")
  nav.navbar.navbar-default
    .container
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/') Yaydoc
      #myNavbar.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            form(action='/auth/logout', method='post')
              button#btnLogout Logout
  .container
    .col-md-4
      h1 #{user.name}
      p
        strong Username:
        | &nbsp;#{user.username}
        br
        strong Email:
        | &nbsp;#{user.email}
      hr
      h5(style="font-weight: 700") Authorized Organizations
      if organizations
        each organization in organizations
          .media
            .media-left
              img.media-object(src="#{organization.avatar}&s=36")
            .media-body
              h4.media-heading #{organization.name}
      p
      | Is an organization missing?
      br
      a(href="https://github.com/settings/connections/applications/c42225ddf5aabda1f626" target="_blank") Review and add
      | &nbsp;your authorized organizations.
    .col-md-8
      .row
        .col-md-10.col-md-offset-1.jumbotron
          h3 Register Repository
          form#ci_register(action="/ci/register", method="POST")
            .form-group
              label.control-label(for='orgs') Username/Organization:
              select.form-control#orgs(name="organization")
                option(value="#{user.id}:#{user.username}") #{user.username}
                if organizations
                  each organization in organizations
                    option(value="#{organization.id}:#{organization.name}") #{organization.name}
            .form-group
              label.control-label(for='search_bar') Search Repository:
              .input-group
                input.form-control#search_bar(placeholder="Enter project name")
                span.input-group-btn
                  button.btn.btn-default#search(type="button") Search
            .form-group#search_result
            div#SubProject
            button.btn.btn-default#btnRegister(disabled) Register
            button.btn.btn-default#btnAddSub(type="button") Add SubProject
      hr
      h3 Registered Repositories
      ul(style="list-style:none")
        li
          h4(style="font-weight: 700") #{user.name}
          table.table
            if ownedRepositories && ownedRepositories.length !== 0
              each repository in ownedRepositories
                tr
                  td #{repository.name}
                  td(style="width:0;vertical-align: middle")
                    a(href="/#{repository.name}/settings")
                      i.fa.fa-gear.fa-2x
                  td(style="width:0")
                    if repository.enable === true
                      button.btn.btn-warning.open-disable-modal(data-toggle="modal" data-name="#{repository.name}" href="#disableModal") Disable
                    else
                      form(method="POST"  action="/repository/enable")
                        input(type="hidden", name="repository", value="#{repository.name}")
                        button.btn.btn-primary(type="submit") Enable                    
                  td(style="width:0")
                    button.close.open-delete-modal(data-toggle="modal" data-name="#{repository.name}" href="#deleteModal" data-backdrop="static" data-keyboard="false" style="color:red; font-size:30px") &times;
            else
              p No repositories registered!
        if organizations
          each organization in organizations
            li
              h4(style="font-weight: 700") #{organization.name}
              table.table
                if organization.repositories && organization.repositories.length !== 0
                  each repository in organization.repositories
                    tr
                      td(style="vertical-align: middle") #{repository.name}
                      td(style="width:0;vertical-align: middle")
                        a(href="/#{repository.name}/settings")
                          i.fa.fa-gear.fa-2x
                      td(style="width:0")
                        if repository.enable === true
                          button.btn.btn-warning.open-disable-modal(data-toggle="modal" data-name="#{repository.name}" href="#disableModal") Disable
                        else
                          form(method="POST"  action="/repository/enable")
                            input(type="hidden", name="repository", value="#{repository.name}")
                            button.btn.btn-primary(type="submit") Enable
                      td(style="width:0")
                        button.close.open-delete-modal(data-toggle="modal" data-name="#{repository.name}" href="#deleteModal" data-backdrop="static" data-keyboard="false" style="color:red; font-size:30px") &times;

        else
          p No repositories registered!
  .modal.fade#deleteModal(role='dialog')
    .modal-dialog
      .modal-content
        form(action="/repository/delete" method="post")
          .modal-header
              button.close(type='button', data-dismiss='modal') ×
              h4.modal-title Are you sure you want to delete?
          .modal-body
            p
            | Enter your repository's name (
            code#name-code
            | ) below to confirm you want to permanently remove it from Yaydoc:
            .form-group
              input.form-control#repository-name(name="name" autofocus)
          .modal-footer
            button.btn.btn-default#btnDelete(disabled="disabled") Delete
  .modal.fade#disableModal(role='dialog')
    .modal-dialog
      .modal-content
        form#disableForm(action="/repository/disable" method="post")
          .modal-header
              input#disableInput(type="hidden", name="repository")
              button.close(type='button', data-dismiss='modal') ×
              h4.modal-title Are you sure?
          .modal-body
                p
                | Are you sure you want to disable this repo?
          .modal-footer
              button.btn.btn-default#disableBtnClose(type="button") Close
              button.btn.btn-primary#disableBtnYes(type="button") Yes...Disable
  include template/footer