doctype html
html(xmlns='http://www.w3.org/1999/xhtml', xmlns:v='urn:schemas-microsoft-com:vml', xmlns:o='urn:schemas-microsoft-com:office:office')
  head
    title
    // [if !mso] <!
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // <![endif]
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    style(type='text/css').
      #outlook a { padding: 0; }
      .ReadMsgBody { width: 100%; }
      .ExternalClass { width: 100%; }
      .ExternalClass * { line-height:100%; }
      body { margin: 0; padding: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
      table, td { border-collapse:collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; }
      img { border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; }
      p { display: block; margin: 13px 0; }
    // [if !mso] <!
    style(type='text/css').
      @media only screen and (max-width:480px) {
      @-ms-viewport { width:320px; }
      @viewport { width:320px; }
      }
    // <![endif]
    //if mso
      xml
        o:officedocumentsettings
          o:allowpng
            o:pixelsperinch 96
    //if lte mso 11
      style(type='text/css').
        .outlook-group-fix {
        width:100% !important;
        }
    // [if !mso] <!
    link(href='https://fonts.googleapis.com/css?family=Lato:300,400,500,700', rel='stylesheet', type='text/css')
    style(type='text/css').
      @import url(https://fonts.googleapis.com/css?family=Lato:300,400,500,700);
    // <![endif]
    style(type='text/css').
      @media only screen and (min-width:480px) {
      .mj-column-per-100 { width:100%!important; }
      .mj-column-per-33 { width:33.333333333333336%!important; }
      }
  body(style='background: #ffffff;')
    .mj-container(style='background-color:#ffffff;')
      //if mso | IE
        table(role='presentation', border='0', cellpadding='0', cellspacing='0', width='600', align='center', style='width:600px;')
          tr
            td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')
      div(style='margin:0px auto;max-width:600px;background:#CB202D;')
        table(role='presentation', cellpadding='0', cellspacing='0', style='font-size:0px;width:100%;background:#CB202D;', align='center', border='0')
          tbody
            tr
              td(style='text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:10px 0px;')
                //if mso | IE
                  table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                    tr
                      td(style='vertical-align:top;width:600px;')
                .mj-column-per-100.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                  table(role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                    tbody
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:18px 0px;', align='center')
                          div(style='cursor:auto;color:#ffffff;font-family:Lato, Helvetica, Arial, sans-serif;font-size:20px;line-height:22px;text-align:center;')
                            | Hey! Your documentation generated successfully
                            i.fa.fa-address-book-o(aria-hidden='true')
                //if mso | IE
      //if mso | IE
      //if mso | IE
        table(role='presentation', border='0', cellpadding='0', cellspacing='0', width='600', align='center', style='width:600px;')
          tr
            td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')
      div(style='margin:0px auto;max-width:600px;background:#ffffff;')
        table(role='presentation', cellpadding='0', cellspacing='0', style='font-size:0px;width:100%;background:#ffffff;', align='center', border='0')
          tbody
            tr
              td(style='text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:20px 0px;')
                //if mso | IE
                  table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                    tr
                      td(style='vertical-align:top;width:200px;')
                .mj-column-per-33.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                  table(role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                    tbody
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:0px 25px;', align='center')
                          table(role='presentation', cellpadding='0', cellspacing='0', style='border-collapse:collapse;border-spacing:0px;', align='center', border='0')
                            tbody
                              tr
                                td(style='width:85px;')
                                  a(href="#{previewURL}" target="_blank")
                                    img(alt='', title='', height='auto', src='http://res.cloudinary.com/template-gdg/image/upload/v1498552339/play_cuqe89.png', style='border:none;border-radius:0px;display:block;font-size:13px;outline:none;text-decoration:none;width:100%;height:auto;', width='85')
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:20px 25px;', align='center')
                          div(style='cursor:auto;color:#EC652D;font-family:Lato, Helvetica, Arial, sans-serif;font-size:20px;line-height:22px;text-align:center;')
                            strong
                              a(style='text-decoration: none; color: inherit;' href="#{previewURL}" target="_blank") Preview it
                            br
                //if mso | IE
                  td(style='vertical-align:top;width:200px;')
                .mj-column-per-33.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                  table(role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                    tbody
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:0px 25px;', align='center')
                          table(role='presentation', cellpadding='0', cellspacing='0', style='border-collapse:collapse;border-spacing:0px;', align='center', border='0')
                            tbody
                              tr
                                td(style='width:100px;')
                                  a(href="#{downloadURL}" target="_blank")
                                    img(alt='', title='', height='auto', src='http://res.cloudinary.com/template-gdg/image/upload/v1498552331/download_ktlqee.png', style='border:none;border-radius:0px;display:block;font-size:13px;outline:none;text-decoration:none;width:100%;height:auto;', width='100')
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:20px 25px;', align='center')
                          div(style='cursor:auto;color:#EC652D;font-family:Lato, Helvetica, Arial, sans-serif;font-size:20px;line-height:22px;text-align:center;')
                            strong
                              a(style='text-decoration: none; color: inherit;' href="#{downloadURL}" target="_blank") Download it
                            br
                //if mso | IE
                  td(style='vertical-align:top;width:200px;')
                .mj-column-per-33.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                  table(role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                    tbody
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:0px 25px;', align='center')
                          table(role='presentation', cellpadding='0', cellspacing='0', style='border-collapse:collapse;border-spacing:0px;', align='center', border='0')
                            tbody
                              tr
                                td(style='width:100px;')
                                  a(href="#{herokuDeployURL}" target="_blank")
                                    img(alt='', title='', height='auto', src='http://res.cloudinary.com/template-gdg/image/upload/v1499358747/rocket_cpiq9g.png', style='border:none;border-radius:0px;display:block;font-size:13px;outline:none;text-decoration:none;width:100%;height:auto;', width='100')
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:20px 25px;padding-top:32px;', align='center')
                          div(style='cursor:auto;color:#EC652D;font-family:Lato, Helvetica, Arial, sans-serif;font-size:20px;line-height:22px;text-align:center;')
                            strong
                              a(style='text-decoration: none; color: inherit;' href="#{herokuDeployURL}" target="_blank") Heroku Deploy
                            br

                //if mso | IE
                  td(style='vertical-align:top;width:200px;')
                if githubDeployURL !== ""
                    .mj-column-per-33.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                      table(role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                        tbody
                          tr
                            td(style='word-wrap:break-word;font-size:0px;padding:0px 25px;', align='center')
                              table(role='presentation', cellpadding='0', cellspacing='0', style='border-collapse:collapse;border-spacing:0px;', align='center', border='0')
                                tbody
                                  tr
                                    td(style='width:100px;')
                                      a(href="#{githubDeployURL}" target="_blank")
                                        img(alt='', title='', height='auto', src='http://res.cloudinary.com/template-gdg/image/upload/v1498552325/deploy_yy3oqw.png', style='border:none;border-radius:0px;display:block;font-size:13px;outline:none;text-decoration:none;width:100%;height:auto;', width='100')
                          tr
                            td(style='word-wrap:break-word;font-size:0px;padding:20px 25px;', align='center')
                              div(style='cursor:auto;color:#EC652D;font-family:Lato, Helvetica, Arial, sans-serif;font-size:20px;line-height:22px;text-align:center;')
                                strong
                                  a(style='text-decoration: none; color: inherit;' href="#{githubDeployURL}" target="_blank") GitHub Deploy
                                br
                //if mso | IE
      //if mso | IE
      //if mso | IE
        table(role='presentation', border='0', cellpadding='0', cellspacing='0', width='600', align='center', style='width:600px;')
          tr
            td(style='line-height:0px;font-size:0px;mso-line-height-rule:exactly;')
      div(style='margin:0px auto;max-width:600px;background:#333333;')
        table(role='presentation', cellpadding='0', cellspacing='0', style='font-size:0px;width:100%;background:#333333;', align='center', border='0')
          tbody
            tr
              td(style='text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding:10px;')
                //if mso | IE
                  table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                    tr
                      td(style='vertical-align:top;width:600px;')
                .mj-column-per-100.outlook-group-fix(style='vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;')
                  table(role='presentation', cellpadding='0', cellspacing='0', width='100%', border='0')
                    tbody
                      tr
                        td(style='word-wrap:break-word;font-size:0px;padding:18px 0px;', align='center')
                          div(style='cursor:auto;color:#ffffff;font-family:Lato, Helvetica, Arial, sans-serif;font-size:20px;line-height:22px;text-align:center;')
                            | Thanks for using Yaydoc
                            i.fa.fa-address-book-o(aria-hidden='true')
                //if mso | IE
      //if mso | IE
